In [ ]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
cars= pd.read_csv('D:\Imarticus\ML\car_done.csv')

In [ ]:
cars.describe().T

In [ ]:
os.getcwd()

In [ ]:
os.chdir(r'D:\Imarticus\ML')

In [ ]:
os.listdir()

In [ ]:
cars.describe()

In [ ]:
cars.info()

In [ ]:
cars.dtypes.value_counts()

# now we will 1st analise the object type columns

In [ ]:
sns.scatterplot(cars['Sales_in_thousands'] , cars['Price_in_thousands'])

In [ ]:
cars['Manufacturer'].value_counts()

#2 modes so therefore Bimodel

In [ ]:
cars['Manufacturer'].unique()

In [ ]:
cars['Manufacturer'].nunique()
# so much variable but none of it is significant so we are dropping this column

In [ ]:
cars.drop(columns=['Manufacturer'] ,axis=1 ,inplace=True)

In [ ]:
cars['Vehicle_type'].unique()

In [ ]:
cars.drop(columns=['Unnamed: 0'] ,axis=1 ,inplace=True)

In [ ]:
cars.head()

In [ ]:
cars.drop(columns = 'Model',inplace=True)

In [ ]:
cars.head()

In [ ]:
cars.drop(columns='Unnamed: 0',axis=1 , inplace=True)
cars.head()

In [ ]:
cars.dtypes[cars.dtypes=='object']

In [ ]:
cars.Vehicle_type.value_counts()

In [ ]:
cars['date']=pd.to_datetime(cars['Latest_Launch'])

In [ ]:
cars.drop(['Latest_Launch'], axis=1 , inplace=True)

In [ ]:
cars.head()

# Watching data again

In [ ]:
cars.describe(percentiles = [0.01,0.02,0.03,0.04,0.05,0.1,0.15,0.25,0.50,0.75,0.9,0.95,0.98,0.99]).T

In [ ]:
cars.groupby(['Vehicle_type'])['Sales_in_thousands'].mean()

In [ ]:
cars.groupby(['Vehicle_type'])['Sales_in_thousands'].mean().plot(kind = 'bar')

In [ ]:
cars.groupby(['Vehicle_type']).agg({'Sales_in_thousands' : ["min" ,'max'],
                                    'Price_in_thousands' : ['min' , 'max']})

In [ ]:
s1 =  cars[cars['Vehicle_type']=='Car']
s2 =  cars[cars['Vehicle_type']!='Car']

In [ ]:
# Ho = Avg sales of car = avg sale of passenger
# Ha = Avg sales of car != avg sales of passenger
# Test : Two sample /Independent Sample Test
# CI and alpha = 95% and 5%
#  Decision Rule : if p>= alpha : we fail to reject null hypothesis
#                : if p< alpha : we acpt null Hypothesis

In [ ]:
stats.ttest_ind(s1['Sales_in_thousands'] , s2['Sales_in_thousands'])

In [ ]:
cars.

In [ ]:
plt.scatter(cars['Price_in_thousands'] , cars['Sales_in_thousands'])
plt.xlabel("Price_in_thousands")
plt.ylabel("Sales")
plt.show()

In [ ]:
plt.scatter(cars['four_year_resale_value'] , cars['Price_in_thousands'])
plt.xlabel("four_year_resale_value")
plt.ylabel("Sales")
plt.show()

In [ ]:
sns.pairplot(cars)
plt.show()

# Cleaning of data

In [ ]:
cars.isnull().sum().sort_values(ascending=False)

In [ ]:
# ther are 3 typers of missing values
# missing values at complete random
# missing values at  random
# missing values at not at random

In [ ]:
# Now we treat null values 
#there are only 2 methods  :- 1 Drop
#                             2 imputation/capping

#we dont drop   we do centrasl value imputations( mean mode median)

     # mean when continuous -- but mean is effected by outlier, so if you want to use mean , do treatment of outlier beforehand
     # median when continuous/Discrete
     # mode when catagorical
    
#Other way is that we can fill an arbitary value  like --- unknown/ others
# or fill previous/forward value

#model development for missing values-- KNN already develope model

In [ ]:
cars.fillna(cars.median(), inplace=True)

In [ ]:
#check
cars.isnull().sum()

# Outlier Treatment

In [ ]:
# first we hard code- but not good so
# 1 - percentile abse - tuckey method  lower = q1- 1.5iqr
                            #          upper = q3+ 1.5iqr

# z score or standardazation  z = mean +- 2Std (+ for upper and - for lower)   
#    if we can can present data as normal distrubution


# now treatment starts
# drop whole column which is wrong.. 
# so we are caping .. ie if any value is greater than upper limit then we replace it with upper value 
# and same goes for lower values

In [ ]:
# Hard coding
cars['Sales_in_thousands'] = np.where(cars['Sales_in_thousands']>=244 , 244 ,cars['Sales_in_thousands'])

In [ ]:
# using inbuild function
cars_modified2= pd.get_dummies(cars , columns=['Vehicle_type'] , drop_first=True) # coumn vehicle type is dropped by default
# to unpivot data we can use melt but you also have to Drop_first = False

In [ ]:
cars_modified2.head()

# Assumption check

In [ ]:
sns.distplot(np.sqrt(cars_modified2['Sales_in_thousands']))

In [ ]:
sns.distplot(np.log1p(cars_modified2['Sales_in_thousands']))

In [ ]:
from scipy import stats

In [ ]:
stats.shapiro(cars_modified2['Sales_in_thousands'])

In [ ]:
stats.shapiro(np.sqrt(cars_modified2['Sales_in_thousands']))

In [ ]:
stats.shapiro(np.log1p(cars_modified2['Sales_in_thousands']))

In [ ]:
cr = cars_modified2.corr()
cr.to_csv('cr.csv')
sns.heatmap(cr , annot=True, )

In [ ]:
 y = np.log1p(cars_modified2['Sales_in_thousands'])   # to make it normal distribution-2nd step use log
x = cars_modified2.drop(columns='Sales_in_thousands')

In [ ]:
cars_modified2.to_csv('cars_modified.csv')

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train,x_test,y_train,y_test = train_test_split(x,y , test_size=0.25 , random_state=88  )
x_train.head()

In [ ]:
import statsmodels.api as sm

X = x_train[['four_year_resale_value',
             'Price_in_thousands', 
             'Engine_size',
           # 'Horsepower', 
             'Wheelbase', 
           # 'Width',
           # 'Length', 
           # 'Curb weight',
           # 'Fuel_capacity',
             'Fuel_efficiency', 
         # 'Power_perf_factor',
       'Vehicle_type_Passenger'
        ]]

Y = y_train

X = sm.add_constant(X) # adding a constant



model = sm.OLS(Y, X).fit()



print(model.summary())
# now we will focus on rsquare and adjusted r square and p value...
# jitna r quare acha utna hamra model acha...
# gap between rquare and adjusted r square should be less 2-3% only.. thats a good model
# rsuare should be > 60% or 0.6
# remove columns with high

In [ ]:
# liner reggersion
# Null hypothersis : coeff of x1 = coeff of x2 = coeff of x3 .... =0  or y does not depend on x
# alt hypo :at least one of coeff != 0

In [ ]:

predY = np.exp(x_train["Price_in_thousands"]*(-0.0463) + x_train["Engine_size"]*(0.3895) + x_train["Wheelbase"]*(0.0501) + x_train["Fuel_efficiency"]*(0.1332) + x_train["Vehicle_type_Passenger"]*(-0.8553)-4.4517)-1
# exp bcz we did log 
predY

In [ ]:
actY= np.expm1(x_train)
actY

In [ ]:
#Evaluation of model

print('MSE = ', np.mean(predY - actY)**2)

print('rmse =' ,np.sqrt( np.mean(predY - actY)**2) )
print('Mean Absolute error = ' , np.mean(abs(predY)))
print('MAPS mean absolute percentage error = ', np.mean(abs((actY-predY)/actY)))

In [ ]:
col_selected=['Price_in_thousands', 'Engine_size','Wheelbase', 'Fuel_efficiency','Vehicle_type_Passenger']
y_train1=y_train[col_selected]
y = sm.add_constant(y_train1)

In [ ]:
predYtrain= np.expm1(model.predict(x))

In [ ]:
actYTrain=np.expm1(y_train)
actYTrain

# linear Regg based on sklearn...

In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
os.chdir(r'D:\Imarticus\ML')

In [3]:
os.listdir()

['archive.zip',
 'aw_fb_data.csv',
 'cars_modified.csv',
 'car_done.csv',
 'Car_sales.csv',
 'Churn_Modelling.csv',
 'cr.csv',
 'data_for_weka_aw.csv',
 'data_for_weka_fb.csv',
 'dfeval.csv',
 'dftrain.csv',
 'fitbit.csv',
 'LoansData.csv',
 'prde_train1.xlsx',
 'supermarket_sales - Sheet1.csv',
 'Supunky gamer 0518.png',
 'temp20220318-39649-1q8i4xq.png',
 'temp20220318-39649-1q8i4xq.v3.jpg',
 'tkf.mp4',
 'vehicles.csv']

In [4]:
cars_modified2 = pd.read_csv('cars_modified.csv')
cars_modified2.drop(['Unnamed: 0','Horsepower','Width','Length','Curb weight','Fuel_capacity','Power_perf_factor'] ,axis=1 ,inplace=True )
cars_modified2.head()

,Sales_in_thousands,four_year_resale_value,Price_in_thousands,Engine_size,Wheelbase,Fuel_efficiency,Vehicle_type_Passenger
0,16.919,16.360,21.500,1.8,101.2,28.0,1
1,39.384,19.875,28.400,3.2,108.1,25.0,1
2,14.114,18.225,22.799,3.2,106.9,26.0,1
3,8.588,29.725,42.000,3.5,114.6,22.0,1
4,20.397,22.255,23.990,1.8,102.6,27.0,1

In [5]:
from sklearn.linear_model import LinearRegression

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
from sklearn import metrics

In [8]:
y = np.log1p(cars_modified2['Sales_in_thousands'])
x = cars_modified2.drop(['Sales_in_thousands'], axis=1)

# log(y) = x+x1+x2
# y = e^x + e^x1

In [ ]:
#Important variable selection
statistical Hypothesis(t test , anova,chisquare etc)
corr
VIF
statististical methods (SelectKbest , etc )
Advance methods (DT ,L1 ,L2 penelty , Other Methods)

In [29]:
X = x_train[['four_year_resale_value',
             'Price_in_thousands', 
             'Engine_size',
           # 'Horsepower', 
             'Wheelbase', 
           # 'Width',
           # 'Length', 
           # 'Curb weight',
           # 'Fuel_capacity',
             'Fuel_efficiency', 
         # 'Power_perf_factor',
       'Vehicle_type_Passenger'
        ]]

Y = y_train

In [9]:
x_train, x_test, y_train, y_test = train_test_split(x,y , test_size=0.25 , random_state=88)

In [ ]:
y_train

In [11]:
lr = LinearRegression()

In [12]:
lr.fit(x_train,y_train)

LinearRegression()

In [13]:
lr.score(x_train,y_train)

0.49197890450745896

In [ ]:
log y = w1x1 + w2x2 + w0
y = e^(w1x1 + w2x2 + w0)

In [ ]:
# train_predY = np.expm1(lr.predict(x_train))

test_predY = np.expm1(lr.predict(x_test))
actY = y_test
err = test_predY-y_test
err

In [ ]:
test_pred = np.expm1(lr.predict(x_test))
test_pred

In [14]:
lr.coef_

array([ 0.01981325, -0.05995618,  0.33989058,  0.04585677,  0.08234681,
       -0.57794848])

In [15]:
x_train.columns

Index(['four_year_resale_value', 'Price_in_thousands', 'Engine_size',
       'Wheelbase', 'Fuel_efficiency', 'Vehicle_type_Passenger'],
      dtype='object')

In [ ]:
lr.intercept_  # constant value / c-value

In [22]:
from sklearn import linear_model
mod = linear_model.LinearRegression()
model = mod.fit(x_train,y_train)

In [21]:
mod.score(x_train,y_train) #Rsquare

0.49197890450745896

In [ ]:
# adjusted R-squared
# 1 - ( 1-model.score(X, y) ) * ( len(y) - 1 ) / ( len(y) - X.shape[1] - 1 )

Adj_r2 = 1 - (1-r2_score(y_test, y_pred)) * (len(y)-1)/(len(y)-X.shape[1]-1)

In [28]:
Actual_test= np.expm1(y_test)
ActualY_train = np.expm1(y_train)
predYtrain=np.expm1(model.predict(X))   
predYtrain

array([ 14.00391507,  13.9075774 ,  33.89575319,  21.47191805,
        43.8422314 ,  37.06553375,   1.12226886,  39.38016062,
       115.274956  ,  48.84998825,  26.14417226,  35.98129384,
        10.9980888 ,   0.98856291,  19.63793264,  20.59075841,
        24.28384531,  34.98175506,  23.23729235,  17.72788213,
        24.92519803,  86.91558128,  21.5410954 ,  39.49929911,
        49.70123626,  84.06850641,   9.25182759,  14.55158423,
        46.54517217,  27.44700793,  28.47638708,   5.33522509,
        77.84485   , 122.66991864,  27.6530698 ,  11.0784399 ,
        26.17033439,  25.08208178,  46.64997386,  37.52731344,
        34.1249915 ,   6.70049599,   6.44204655,  65.62093636,
        47.98821293,  22.47040721,  39.34414376,   1.02984468,
        66.19630401,  29.32857422,  33.25818057,  30.24346743,
        32.54387576,  42.27677879, 193.74461956,  39.91244601,
        25.60816017,  45.04431256,  28.38661006,  90.61545072,
        55.21018537,  41.04840458,   7.97668517,  74.7327304 ,
        39.54597614,  19.17809345,  49.9731619 ,  28.59799209,
        16.32361162,  23.68953439,  23.05176586,  34.97450489,
        21.00941409,  41.75938652,  40.54220269,  37.93145899,
        34.44045949,  41.28370569,  39.39977909,  24.78600131,
        44.0168589 ,  60.34070936,  36.35411784,  28.90966699,
        39.40718298,  21.72995914,  31.66923935,  10.36322112,
         4.21802795,  47.423745  ,  17.92144157,  15.31715262,
        23.94313015,  23.34931253, 346.34661748,  26.02480284,
        29.1909885 ,  22.00558037,   0.38194294,  38.76470593,
        37.60670179,  18.9217402 ,  23.21526465,  59.64501894,
        48.54270263,  18.08694907,  36.32338456,  16.62630704,
        29.2535375 ,  42.24471967,  36.49093175,   4.89673729,
        36.22895708,  36.70754224,  19.70141156,  31.84421673,
        32.87200207])

In [ ]:
print('MSE', np.mean((ActualY_train - predYTrain)**2))

In [ ]:
pred = pd.DataFrame({'ActualSale' : ActualY_train , 
                     'PredSale' : predYtrain} )
pred

In [ ]:
pred.to_excel('prde_train1.xlsx')

In [ ]:
pred.head(20).plot(kind = 'bar',figsize=(10,8))